<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Rezilient Technologies</title>
		<meta name="theme-color" content="#ffffff">
		<!-- Favicon -->
		<link rel="apple-touch-icon" href="../img/favicon.svg">
		<link rel="icon" type="image/svg+xml" href="../img/favicon.svg">
		<link rel="mask-icon" href="../img/favicon.svg" color="#ffffff">
		<!-- Fonts -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../index.css?key=1">
		<link rel="stylesheet" type="text/css" href="./drass.css">
	</head>
  <body>
  	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script>
    	$(document).ready(function(){
			    $(this).scrollTop(0);
			});
			document.body.addEventListener('wheel', doMagic, {passive: false});
			window.canScroll = true;
			const section = 'SECTION'

			function scrollToSection(e) {
				let el = document.getElementById('s-'+e);
				el.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
				show(el.dataset.icon)
			}

			function show(e) {
				Array.from(document.getElementsByClassName('bi-circle-fill')).map(e => { e.className = "fs-6 bi bi-circle-fill d-none"; });
				if(!e) return;
				document.getElementById('i-'+e).className = "fs-6 bi bi-circle-fill";
			}
		
			function doMagic(e) {
				if (!canScroll) return e.preventDefault();

				let next, prev, target;
			  if (e.target.nodeName == section) {    
			  	next = e.target.nextElementSibling;
			  	prev = e.target.previousElementSibling;
			  } else { 
			  	target = e.target.closest(section)
			  	if (!target) return;
			    next = target.nextElementSibling
			    prev = target.previousElementSibling
			  }

			  const node = e.deltaY < 0 ? prev : next;

			  if (!node || getComputedStyle(node).display === 'none') return
			  console.log(node.dataset.icon)
				show(node.dataset.icon)
				e.preventDefault();
				window.canScroll = false;
			  
			  node.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
			  setTimeout(() => { canScroll = true; }, 1200);

			 return;
			}
    </script>
  	<!-- Navigation Bar -->
  	<nav class="navbar navbar-light bg-light z-100">
			<div class="container-fluid">
		    <a class="navbar-brand pt-0 pb-0 ps-2" href="">
		      <img src="../img/rezilient-long-logo.svg" alt=""  height="75">
		    </a>

		    <ul class="nav justify-content-end">
		    	<li class="nav-item"><a class="nav-link" aria-current="page" href="../index.html">Home</a></li>
					<li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Products</a>
				    <ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Disaster Recovery As Service (DRaaS)</a></li>
							<li><a class="dropdown-item" href="#">Long Term Retention Plan</a></li>
							<li><a class="dropdown-item" href="#">Data Migration</a></li>
				    </ul>
				  </li>
					<li class="nav-item"><a class="nav-link" aria-current="page" href="#">Contact Us</a></li>
		    </ul>
		  </div>
		</nav>

  	<div class="main container-fluid position-relative p-0">

  		<!-- Sticky Content --> 
  		<div class="row col-12 col-lg-5 offset-lg-7 sticky-container">
  			<!-- text-align center, right pulled column size 7 or 12 depends on the size -->
  			<div class="row"> 
  				<!-- Sticky: Company Logo -->
	  			<div class="sticky-rezilient-logo">
	  				<img src="../img/rezilient-long-logo.svg" alt="">
	  			</div>

	  			<!-- Sticky: Page Title -->
	  			 <div class="page-title">
			      	<img src="../img/dras/logo.svg">
			      	<h3 class="display-4"> Disaster-Recovery-as-a-Service</h3>
			    </div>

			    <!-- Sticky: Feature Icons -->
			    <div class="feature-icon-container">

	      		<div class="feature-icon">
	      			<i class="fs-4 bi bi-speedometer2"></i>
	      			<h3 class="fs-4">Speed</h3>
	      			<i id="i-speed" class="fs-6 bi bi-circle-fill d-none"></i>
	      		</div>

	      		<div class="feature-icon">
	      			<i class="fs-4 bi bi-lightning-charge-fill"></i>
	      			<h3 class="fs-4">Efficiency</h3>
	      			<i id="i-performance"  class="fs-6 bi bi-circle-fill d-none"></i>
	      		</div>

	      		<div class="feature-icon">
	      			<i class="fs-4 bi bi-lock-fill"></i>
	      			<h3 class="fs-4">Security</h3>
	      			<i id="i-security" class="fs-6 bi bi-circle-fill d-none"></i>
	      		</div>

	      		<div class="feature-icon">
	      			<i class="fs-4 bi bi-ui-checks-grid"></i> 
	      			<h3 class="fs-4">Flexibility</h3>
	      			<i id="i-flexibility" class="fs-6 bi bi-circle-fill d-none"></i>
	      		</div>
	      	</div>
			  </div>
  		</div>

			<!-- Main Content --> 
  		<div class="main-content-container">
  			<!-- sticky display for mobile -->
  			<section class="d-lg-none empty-initial">
					<div class="row vh-100">
					  <div class="reason-container p-0 col-12 col-lg-7 d-flex">
					    <div class="feature-container"></div>
					  </div>
					  <div class="d-none d-lg-block col-md-5 vh-100 bg-transparent"></div>
					</div>
				</section>

				<!-- Speed -->
	  		<section id="s-speed" class="feature-section" data-icon="speed">
	  			<!-- Speed No Margin Container-->
	  			<div class="row">
					  <div class="col-12 col-lg-7">
					  	<!--Speed Background Image -->
					  	<img class="feature-picture" src="../img/dras/time.svg">

					  	<!-- Speed Container -->
					  	<div class="feature-container">

					  		<!-- Speed Title -->
					  		<h1 class="feature-title">We care about your time.</h1>

					  		<!-- Speed Subtext with Icon -->
						    <div class="row">
						    	<i class="fs-3 bi bi-speedometer2"></i> 
						    	<h2>Deliver Recovery Time Objective as fast as <span>boot up time</span>.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-speedometer2"></i> 
						    	<h2>Disaster site as close to <span>real time</span> with our 4s Recovery Point Objective.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-speedometer2"></i> 
						    	<h2><span>Group recovery</span> ensures calm and orderly re-deployment during critical hours.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-speedometer2"></i> 
						    	<h2>Checkpoints can be created by <span>scheduled checkpoints</span> and simulated regularly.</h2>
						    </div>
						  </div><!-- Speed Subtext with Icon -->
					  </div>

					  <!-- Speed empty space-->
					  <div class="d-none d-lg-block col-md-5 vh-100 bg-transparent"></div>
					</div><!-- Speed No Margin Container End-->
				</section>

				<!-- Performance -->
				<section id="s-performance" class="feature-section" data-icon="performance">
					<!-- Performance No Margin Container-->
					<div class="row">
					  <div class="col-12 col-lg-7">
					  	<!-- Performance Background Image -->
					  	<img class="feature-picture" src="../img/dras/performance.svg">

					  	<!-- Performance Container -->
					  	<div class="feature-container">

					  		<!-- Performance Title -->
					  		<h1 class="feature-title">We care about your performance.</h1>

					  		<!-- Performance Subtext with Icon -->
						    <div class="row">
						    	<i class="fs-3 bi bi-lightning-charge-fill"></i> 
						    	<h2>Provide efficient synchoranisation by <span>not consuming</span> VM CPU or memory.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-lightning-charge-fill"></i> 
						    	<h2><span>Minimize network activity</span> by detecting delta at block level.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-lightning-charge-fill"></i> 
						    	<h2>Access to a system with <span>user friendly interface</span> to test environments for meeting regulatory requirements.</h2>
						    </div>
						  </div><!-- Performance Subtext with Icon -->
					  </div>
					  <!-- Performance empty space-->
					  <div class="d-none d-lg-block col-md-5 vh-100 bg-transparent"></div>
					</div><!-- Performance No Margin Container-->
				</section>

				<!-- Security -->
				<section id="s-security" class="feature-section" data-icon="security">
					<!-- Security No Margin Container-->
					<div class="row">
					  <div class="col-12 col-lg-7">

					  	<!-- Security Background Image -->
					  	<img class="feature-picture" src="../img/dras/security.svg">
					    <div class="feature-container">

					    	<!-- Security Title -->
					  		<h1 class="feature-title">We care about your security.</h1>

					  		<!-- Security Subtext with Icon -->
						    <div class="row">
						    	<i class="fs-3 bi bi-lock-fill"></i> 
						    	<h2><span>Prevent  infected</span>  services or VMs from infecting entire cluster or system with forced shut down.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-lock-fill"></i> 
						    	<h2>Data is <span>under encryption</span> while being synchronised between production and DR sites.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-lock-fill"></i> 
						    	<h2>Any loss in communications between production and DR sites will <span>trigger alerts</span> to ensure continous replication.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-lock-fill"></i> 
						    	<h2>Provides <span>MFA authentication</span> to prevent unauthorized access to DR solution.</h2>
						    </div><!-- Security Subtext with Icon -->
						  </div>
					  </div>
					  <!-- Security empty space-->
					  <div class="d-none d-lg-block col-md-5 vh-100 bg-transparent"></div>
					</div><!-- Security No Margin Container-->
				</section>

				<!-- Flexibility -->
				<section id="s-flexibility" class="feature-section" data-icon="flexibility">
					<!-- Flexibility No Margin Container-->
					<div class="row">
					  <div class="col-12 col-lg-7">

					  	<!-- Flexibility Background Image -->
					  	<img class="feature-picture" src="../img/dras/choice.svg">
					    <div class="feature-container">
					    	<!-- Flexibility Title -->
					  		<h1 class="feature-title">We care about your control.</h1>

					  		<!-- Flexibility Subtext with Icon -->
					  		<div class="row">
						    	<i class="fs-3 bi bi-ui-checks-grid"></i> 
						    	<h2>Gives <span>full control</span> about period of replication retention and RPO for space and network consicious clients.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-ui-checks-grid"></i> 
						    	<h2>Both production site and DR site <span>can be fully hosted</span> by clients.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-ui-checks-grid"></i> 
						    	<h2>Delivers cloud provider and region <span>agnostic</span> DR solutions.</h2>
						    </div>
						    <div class="row">
						    	<i class="fs-3 bi bi-ui-checks-grid"></i> 
						    	<h2>Provides <span>felexibility and customizability</span> to group service that need to be fallback together for business cohesiveness. </h2> 
						    </div><!-- Flexibility Subtext with Icon -->
						  </div>
					  </div>

					  <!-- Flexibility empty space-->
					  <div class="d-none d-lg-block col-md-5 vh-100 bg-transparent"></div>
					</div><!-- Flexibility No Margin Container-->
				</section>
			</div>
		</div>
  </body>
</html>