body{
	position: relative;
	padding: 0px;
}

/* pills */
h2 span {
  background-color: #fff;
  color: #980900;
  padding: 0px .5rem;
  border-radius: 4rem;
  display: inline-block;
}

.main {
  background-color: #b9b9b9;
  width: 100vw;
}

.bg-transparent {
  background-color: transparent;
}

.z-1 {
  z-index: 1;
}

.z-100 {
  z-index: 100;
}

.main-content-container {
	position: relative;
	padding: 0;
	z-index: 100;
}

.feature-section, .empty-initial {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	height: 100.1vh;
	
	align-items: center;
	text-align: center;
}

.feature-section:nth-of-type(odd) .row > div {
  background-color: #384D48;
}

.feature-section:nth-of-type(even) .row > div {
  background-color: #980900;
}

.feature-section > .row {
  width: 100%;
  margin: 0px;
}

.feature-section >.row > div {
	position:  relative;
	padding: 2rem;
	align-items: center;
  display: flex;
}

.feature-section .feature-picture {
	position: absolute;
	top:  0px;
	left: 0px;
	max-height: 90%;
	opacity: 0.075;
}

.feature-section  .feature-container {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: left;
	padding: 2rem;
}

.feature-section .feature-container .feature-title {
	text-align: center;
	font-weight: bold;
	margin:  1rem 0;
	margin-bottom:  2rem;
	font-size: 2.5rem;
	line-height: 1.2;
}

.feature-section .feature-container > div {
	flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
}

.feature-section .feature-container h2 {
	display: inline-block;
	font-size:  1.2rem;
  line-height: 2rem;
}

.feature-section .feature-container i {
	display: inline-block;
  font-size: 1rem;
  width: 3rem;
 }

.sticky-container {
 	position: fixed;
 	top: 0px;
  height: 100vh;
  text-align: center;
  padding-right: 0;
  z-index: 1;
 }

 .sticky-container > .row {
 	margin: 0px;
 }

.sticky-container .page-logo {
 	display: block;
 	height: 91px;
 }

.sticky-container .sticky-rezilient-logo img {	
  max-height: 81px;
  max-width: 100%;
  margin-top:  10px;
}

.sticky-container .page-title {
	padding:  0 2rem;
}

.sticky-container .page-title img {
	margin:  2em 0;
  max-width: 90%;
  max-height: 25vh;
}

.sticky-container .page-title h3 {
	color: #980900;
}

.sticky-container .feature-icon-container {
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sticky-container .feature-icon {
  color: #394d48;;
  padding: 1rem;
  text-shadow: 0px 0px 2px #ffffff96;
}

@media (max-width: 992px) { 
 	.feature-section:nth-of-type(odd) {
    background-color: #384D48;
  }

  .feature-section:nth-of-type(even) {
    background-color: #980900;
  }

  .feature-section .feature-container h2 {
		font-size:  1rem;
	  line-height: 1.5rem;
	  flex-shrink: 1;
	}
}

@media (max-width:  768px) {
  .feature-section .feature-container h2 {
    font-size:  0.9rem;
    line-height: 2rem;
    flex-shrink: 1;
  }

  .feature-section >.row > div {
    padding: .5rem;
	}
}




